footer {
    background-color: #6278f7;
    color: #ffffff;
    margin-top: 32px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    font-weight: bold;
    font-size: 18px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes_sociais ul {
    list-style: none;
    display: flex;
    padding: 0pxC;
}

.redes_sociais li {
    margin: 0 12px;
}

.logo img{
    width: 150px;
}

@media (max-width: 764px){
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        padding-top: 18px;
    }   

    .redes_sociais{
        grid-row: 2;
    }
}